/* Hack to break out of the wrapper */
.full-width {
  margin: 1em calc(50% - 50vw);
}
/* Reset the margin top and bottom */
.row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.paragraph-container p {
  margin: initial;
}