{#
/**
 * @file
 * Theme override for a paragraph.
 */
#}

<section class="paragraph-container">
  <div class="container-fluid">
    <div{{ attributes }}>
      {{ content }}
    </div>
  </div>
</section>