{#
/**
 * @file
 * Theme override for a paragraph.
 */
#}

<section {{ attributes }}>
  <div {{ container_attributes }}>
    <div {{ row_attributes }}>
      {{ content }}
    </div>
  </div>
</section>