{#
/**
 * @file
 * Theme override for a paragraph.
 */
#}

{% set wrapper_attributes = create_attribute() %}

{%
set classes = [
  column_width ? column_width : '',
]
%}

<div{{ wrapper_attributes.addClass(classes) }}>
  {{ content|raw }}
</div>